{% extends "adminbiobses/layout/base.html" %}

{% block inline_head %}
    <link rel="stylesheet" href="/static/admstatic/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    {% block title_table %}  
    {% endblock title_table %}

{% endblock inline_head %}

{% block content %} 
<div class="breadcrumbs">
  <div class="col-sm-12">
      <div class="page-header float-left">
          <div class="page-title">
              <h1>Penerbit</h1>
          </div>
      </div>
  </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-6">
                            <strong class="card-title">Data Table</strong>
                        </div>
                        <div class="col-sm-6">
                            <div class="action-area dropdown float-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </a>

                                <div class="action-menu dropdown-menu">
                                    <a class="nav-link" href="#"><i class="menu-icon fa fa-plus-square-o"></i> New</a>
                                    <a class="nav-link" href="#"><i class="menu-icon fa fa-edit (alias)"></i> Update</a>
                                    <a class="nav-link" href="#"><i class="menu-icon fa fa-trash-o"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% block data_table %}
                        {% endblock data_table %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}

{% block inline_js %}
<script src="/static/admstatic/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/dataTables.select.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/dataTables.select.min.js"></script>
<script src="/static/admstatic/assets/js/lib/data-table/datatables-init.js"></script>

{% block js_table %}
{% endblock js_table %}

<script type="text/javascript">
    $(document).ready(function() {
      $('#bootstrap-data-table-export').DataTable();
    } );
</script>

{% endblock inline_js %}