<!DOCTYPE html>
<html>
<head>
  {% include "adminbiobses/layout/head.html" %}
  <!-- datatables -->
  <link rel="stylesheet" href="/static/admstatic/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/static/admstatic/bower_components/datatables.net-bs/css/select.bootstrap4.min.css">
  <title>Buku</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% include "adminbiobses/layout/main-header.html" %}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {% include "adminbiobses/layout/main-sidebar.html" %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Buku
        <small>informasi data buku</small>
      </h1>
    </section>


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success">Action</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu" id="actionmenu">
                <li><a href="#">New</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
                <li class="divider"></li>
                <li><a href="#">View</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- general form elements -->
                <div class="box box-primary">
                  <!-- form start -->
                  <form enctype="multipart/form-data" role="form" method="post" role="form">
                    {% csrf_token %}
                    <div class="box-header with-border">
                      <h3 class="modal-title">Buku</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="form-group">
                        <label for="{{ form.nama_buku.id_for_label }}">Nama Buku</label>
                        {{ form.nama_buku }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.pengarang.id_for_label }}">Pengarang</label>
                        {{ form.pengarang }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.penerbit.id_for_label }}">Penerbit</label>
                        {{ form.penerbit }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.subkategori.id_for_label }}">Sub Kategori</label>
                        {{ form.subkategori }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.kategori.id_for_label }}">Status Buku</label>
                        {{ form.kategori }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.harga.id_for_label }}">Harga</label>
                        <div class="input-group">
                          <span class="input-group-addon">Rp.</span>
                          {{ form.harga }}
                          <span class="input-group-addon">.00</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.diskon.id_for_label }}">Diskon</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-scissors"></i></span>
                          {{ form.diskon }}
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.harga_diskon.id_for_label }}">Harga Setelah Diskon</label>
                        <div class="input-group">
                          <span class="input-group-addon">Rp.</span>
                          {{ form.harga_diskon }}
                          <span class="input-group-addon">.00</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.tahun_terbit.id_for_label }}">Tahun Terbit</label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          {{ form.tahun_terbit }}
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                      <div class="form-group">
                        <label for="{{ form.tebal_buku.id_for_label }}">Tebal Buku</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
                          {{ form.tebal_buku }}
                          <span class="input-group-addon">cm</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.berat.id_for_label }}">Berat</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                          {{ form.berat }}
                          <span class="input-group-addon">gr</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.stok.id_for_label }}">Stok</label>
                        {{ form.stok }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.isi_berita.id_for_label }}">Isi Berita</label>
                        {{ form.isi_berita }}
                      </div>
                      <div class="form-group">
                          <label for="{{ form.image1.id_for_label }}">Gambar 1</label>
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file">
                                      Browse… {{ form.image1 }}
                                  </span>
                              </span>
                              <input type="text" class="form-control" readonly>
                          </div>
                          <div class="thumbnail product-box">
                            <img id='img-upload1'/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="{{ form.image2.id_for_label }}">Gambar 2</label>
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file">
                                      Browse… {{ form.image2 }}
                                  </span>
                              </span>
                              <input type="text" class="form-control" readonly>
                          </div>
                          <div class="thumbnail product-box">
                            <img id='img-upload2'/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="{{ form.image3.id_for_label }}">Gambar 3</label>
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file">
                                      Browse… {{ form.image3 }}
                                  </span>
                              </span>
                              <input type="text" class="form-control" readonly>
                          </div>
                          <div class="thumbnail product-box">
                            <img id='img-upload3'/>
                          </div>
                      </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="reset" id="btnreset" class="btn btn-danger">Reset</button>
                        <button type="submit" id="btnsave" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.box -->
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
          {% if messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>No</th>
              <th>ID</th>
              <th>Nama Buku</th>
              <th>Pengarang</th>
              <th>Penerbit</th>
              <th>Sub Kategori</th>
              <th>Status Buku</th>
              <th>Harga (Rp)</th>
              <th>Diskon (%)</th>
              <th>Harga Setelah Diskon (Rp)</th>
              <th>Tahun Terbit</th>
              <th>Tebal Buku (%)</th>
              <th>Berat (gr)</th>
              <th>Stok</th>
              <th>Isi Berita (%)</th>
              <th>Image 1</th>
              <th>Image 2</th>
              <th>Image 3</th>
            </tr>
            </thead>
            <tbody>
            {% for b in buku %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{b.id}}</td>
              <td>{{b.nama_buku|title}}</td>
              <td>{{b.pengarang|upper}}</td>
              <td>{{b.penerbit|title}}</td>
              <td>{{b.subkategori|title}}</td>
              <td>{{b.kategori|title}}</td>
              <td>{{b.harga}}</td>
              <td>{{b.diskon}}</td>
              <td>{{b.harga_diskon}}</td>
              <td>{{b.tahun_terbit}}</td>
              <td>{{b.tebal_buku}}</td>
              <td>{{b.berat}}</td>
              <td>{{b.stok}}</td>
              <td>{{b.isi_berita}}</td>
              <td>{{b.image1}}</td>
              <td>{{b.image2}}</td>
              <td>{{b.image3}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "adminbiobses/layout/main-footer.html" %}

  <!-- Control Sidebar -->
  {% include "adminbiobses/layout/control-sidebar.html" %}
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% include "adminbiobses/layout/js.html" %}
<!-- DataTables -->
<script src="/static/admstatic/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/admstatic/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/admstatic/bower_components/datatables.net/js/dataTables.select.js"></script>
<script src="/static/admstatic/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<!-- page script -->
<script src="/static/adminbiobses/buku.js"></script>
</body>
</html>
