<!DOCTYPE html>
<html>
<head>
  {% include "adminbiobses/layout/head.html" %}
  <link rel="stylesheet" href="/static/admstatic/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <title>Penerbit</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% include "adminbiobses/layout/main-header.html" %}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {% include "adminbiobses/layout/main-sidebar.html" %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Penerbit
        <small>informasi data penerbit</small>
      </h1>
    </section>


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>No</th>
              <th>ID Penerbit</th>
              <th>Nama Penerbit</th>
            </tr>
            </thead>
            <tbody>
            {% for p in penerbit %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{p.id_penerbit}}</td>
              <td>{{p.nama_penerbit|title}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "adminbiobses/layout/main-footer.html" %}

  <!-- Control Sidebar -->
  {% include "adminbiobses/layout/control-sidebar.html" %}
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% include "adminbiobses/layout/js.html" %}
<!-- DataTables -->
<script src="/static/admstatic/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/admstatic/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
</body>
</html>
