<!DOCTYPE html>
<html>
<head>
  {% include "adminbiobses/layout/head.html" %}
  <!-- datatables -->
  <link rel="stylesheet" href="/static/admstatic/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/static/admstatic/bower_components/datatables.net-bs/css/select.bootstrap4.min.css">
  <title>Penerbit</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% include "adminbiobses/layout/main-header.html" %}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {% include "adminbiobses/layout/main-sidebar.html" %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Penerbit
        <small>informasi data penerbit</small>
      </h1>
    </section>


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success">Action</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu" id="actionmenu">
                <li><a href="#">New</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- general form elements -->
                <div class="box box-primary">
                  <!-- form start -->
                  <form role="form" method="post" role="form">
                    {% csrf_token %}
                    <div class="box-header with-border">
                      <h3 class="modal-title">Penerbit</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="form-group">
                        <label for="{{ form.nama_penerbit.id_for_label }}">Nama Penerbit</label>
                        {{ form.nama_penerbit }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.alamat.id_for_label }}">Alamat</label>
                        {{ form.alamat }}
                      </div>
                      <div class="form-group">
                        <label for="{{ form.profile.id_for_label }}">Profile</label>
                        {{ form.profile }}
                      </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <button type="submit" id="btnsave" class="btn btn-info">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.box -->
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
          {% if messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>No</th>
              <th>Nama Penerbit</th>
              <th>Alamat</th>
              <th>Profile</th>
            </tr>
            </thead>
            <tbody>
            {% for p in penerbit %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{p.nama_penerbit|title}}</td>
              <td>{{p.alamat|title}}</td>
              <td>{{p.profile}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "adminbiobses/layout/main-footer.html" %}

  <!-- Control Sidebar -->
  {% include "adminbiobses/layout/control-sidebar.html" %}
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% include "adminbiobses/layout/js.html" %}
<!-- DataTables -->
<script src="/static/admstatic/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/admstatic/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/admstatic/bower_components/datatables.net/js/dataTables.select.js"></script>
<script src="/static/admstatic/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<!-- page script -->
<script src="/static/adminbiobses/penerbit.js"></script>
</body>
</html>
